<div class="jumbotron">
  <p class="lead">
    {{'Donate Us for Making Your Life More'|i18n}}
    <h1>
    {{'Clear & Easy'|i18n}}
    </h1>
    <br />

    <a class="btn btn-large btn-primary" href="https://www.paypal.com/cgi-bin/webscr?cmd=_cart&business=MCLT5WBYS7HRY&lc=C2&item_name=YaHa%2eMe%20TODO&amount=1%2e99&currency_code=USD&button_subtype=products&tax_rate=0%2e000&shipping=0%2e00&add=1&bn=PP%2dShopCartBF%3abtn_cart_LG%2egif%3aNonHosted" target="_blank">Paypal</a> 
    <a class="btn btn-large btn-primary" href="https://me.alipay.com/lymanlai" target="_blank">支付宝</a>
    <br />
    <br />
    <a class="btn btn-large btn-primary" href="https://www.moneybookers.com" target="_blank">MoneyBookers</a> (ID: 13185504)
    <br />

  </p>
</div>
