<form class="form-horizontal" name="form" novalidate ng-submit="submit()" ui-keydown="{'ctrl-enter':'submit()'}">
  <div class="form-group ng-class:{'has-error':form.title.$invalid}">
    <label class="col-sm-2 control-label" for="title">{{'Title'|i18n}}</label>
    <div class="col-sm-9">
      <input class="form-control" type="text" id="title" name="title" ng-model="formData.title" placeholder="{{'Title'|i18n}}"  autofocus required />
      <span class="help-block" ng-show="form.title.$dirty && form.title.$error.required">{{'Please input the title'|i18n}}</span>
    </div>
  </div>
  <div class="form-group ng-class:{'has-error':form.content.$dirty && form.content.$invalid}">
    <label class="col-sm-2 control-label" for="content">{{'Content'|i18n}}</label>
    <div class="col-sm-9">
      <textarea msd-elastic class="form-control" ng-click="checkValidate('city');checkValidate('tags');" type="text" id="content" name="content" ng-model="formData.content" placeholder="{{'Content'|i18n}}"  required />
      <span class="help-block" ng-show="form.content.$dirty && form.content.$error.required">{{'Please input the content'|i18n}}</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid">{{'Save'|i18n}}</button> (Ctrl+Enter)
    </div>
  </div>
</form>
