<yh-uploader class="btn btn-primary ladda-button pull-right " 
  field-name="file"
  set-height="{{height}}"
  action="{{uploadActionUrl}}" 
  security-header-name="sid" 
  security-header-value="{{sid}}" 
  on-complete="updatePhoto" 
  ng-if="isEditAbled"
  style="margin-bottom:-64px;"
> 
  <i class="fa fa-picture-o"></i>     
</yh-uploader>
<div class="jumbotron imgLiquid img-rounded">
  <img ng-src="{{photoUrl}}"/>
  <h1 editable-text="item.title" style="color:{{item.color || '#16a085'}}">{{item.title}}</h1>
  <h5 editable-textarea="item.subTitle" style="color:{{item.color || '#16a085'}}" ng-bind-html="item.subTitle | nl2br" e-cols="55"></h5>
</div>
<a href="" ng-if="isEditAbled" class="btn btn-inverse fa fa-magic pull-right" style="margin-top:-65px;" colorpicker colorpicker-position="left" ng-model="item.color"></a>

<ng-include ng-if="isEditAbled || postList.length > 0" src="yh.path('yaha/views/itemUser-postList.html')"></ng-include>