<div class="jumbotron hiw">
  <h2 class="one"> <i class="icon-group"> 1. Join </i>  In 100 Human Hangout</h2> 
  <h2 class="two"> <i class="icon-food"> 2. Meet </i>  With 9 People Randomly</h2> 

  <div class="clearfix"></div>
  <h2 class="three"> <i class="icon-picture"> 3. Photo </i> At Least 1 Picture</h2> 
  <h2 class="four"> <i class="icon-comments"> 4. Comment </i> For Others with your Reviews</h2> 

  <div class="clearfix"></div>
  <h3>Find the Right Guy You Should Love!</h3>
  <div class="clearfix"></div>
</div>


