<div class="plan">

    <h2 id="try-it-once">Try It Once</h2>
    <div class="span-half">
        <h3><i class="icon-ok"></i> What You Get</h3>
        <ul>
            <li>Get 1 Hangout</li>
            <li>Meet 99 New Friends (<a href="#">?</a>)</li>
        </ul>
    </div>
    <div class="span-half">
        <h3><i class="fui-arrow-right"></i> How to Make It</h3>
        <ol>
            <li><a href="#" target="_blank">Pay $9.9</a> <i class="icon-external-link"></i></li>
            <li>Invite 3 friends</li>
        </ol>
    </div>
    <div class="clearfix"></div>
    <hr />

    <h2 id="dive-in-more"> Dive In More ( <i class="icon-hand-right"></i> Free Now! )</h2>
    <div class="span-half">
        <h3><i class="icon-ok"></i> What You Get</h3>
        <ul>
            <li>Get 9 Hangouts</li>
            <li>Meet 99 * 9 New Friends (<a href="#">?</a>)</li>
        </ul>
    </div>
    <div class="span-half">
        <h3><i class="fui-arrow-right"></i> How to Make It </h3>
        <ul>
            <li><a href="#" target="_blank"><del>Pay $99</del></a> <i class="icon-external-link"></i></li>
            <li>Invite 9 friends</li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <hr />

    <h2 id="like-it-much"> Like It Much </h2>
    <div class="span-half">
        <h3><i class="icon-ok"></i> What You Get</h3>
        <ul>
            <li>Use It Forever</li>
            <li>Get &infin; Hangouts</li>
        </ul>
    </div>
    <div class="span-half">
        <h3><i class="fui-arrow-right"></i> How to Make It</h3>
        <ul>
            <li><a href="#" target="_blank">Pay $999</a> <i class="icon-external-link"></i></li>
            <li>Invite Whatever</li>
        </ul>
    </div>

    <div class="clearfix"></div>
</div>