<div class="price-list">
   <div class="span3">
    <div class="tile">
      <h3 class="tile-title">Try It Once </h3>
      <ul>
        <li>Get 1 Hangout</li>
        <li>Meet 99 pop</li>
      </ul>
      <a class="btn btn-primary btn-large btn-block" href="#/love/plan#try-it-once">Pay $9.9 <br /> Invite 3 Friends</a>
    </div>
  </div>
  <div class="span3">
    <div class="tile tile-hot">
      <h3 class="tile-title">Dive In More</h3>
      <ul>
        <li>Get 9 Hangouts</li>
        <li>Meet 891 pop</li>
      </ul>
      <a class="btn btn-primary btn-large btn-block" href="#/love/plan#dive-in-more"><del>Pay $99</del><br /> Invite 9 Friends</a>
    </div>
  </div>
  <div class="span3">
    <div class="tile">
      <h3 class="tile-title">Like It Much</h3>
      <ul>
        <li>Use It Forever</li>
        <li>Get &infin; Hangouts</li>
      </ul>
      <a class="btn btn-primary btn-large btn-block" href="#/love/plan#like-it-much">Pay $999<br /> Invite Whatever</a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>